/* Import all available variations of the Rosario font for potential use */
@font-face {
  font-family: "Bold";
  src: local("Rosario-Bold"), url("./fonts/Rosario-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "BoldItalic";
  src: local("Rosario-BoldItalic"), url("./fonts/Rosario-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Italic";
  src: local("Rosario-Italic"), url("./fonts/Rosario-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Light";
  src: local("Rosario-Light"), url("./fonts/Rosario-Light.ttf") format("truetype");
}

@font-face {
  font-family: "LightItalic";
  src: local("Rosario-LightItalic"), url("./fonts/Rosario-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("Rosario-Medium"), url("./fonts/Rosario-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "MediumItalic";
  src: local("Rosario-MediumItalic"), url("./fonts/Rosario-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("Rosario-Regular"), url("./fonts/Rosario-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SemiBold";
  src: local("Rosario-SemiBold"), url("./fonts/Rosario-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "SemiBoldItalic";
  src: local("Rosario-SemiBoldItalic"), url("./fonts/Rosario-SemiBoldItalic.ttf") format("truetype");
}

/* Styling of whole website */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.app {
  text-align: center;
}

/* Page alignment styling */
.page-content {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 6rem;
}

/* Styling of Navbar */
.navbar {
  display: flex;
  justify-content: flex-end;
  height: 10%;
  background-color: #35185A;
}

.navbar-about, .navbar-projects, .navbar-resumé, .navbar-contact {
  margin-right: 3.75%;
  color: #B19DD0;
  font-family: "Light";
}

.navbar-logo {
  margin-right: auto;
  margin-top: 1%;
  margin-left: 1.5%;
  width: 5%;
}

/* Styling of "About" page */
.about-top {
  padding-top: 2%;
}

.about-top > h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: "Bold";
}

.about-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}

.about-profile {
  width: 20%;
  border-radius: 50%;
  margin-left: 15%;
}

.about-paragraph {
  width: 35%;
  font-family: "Light";
  margin-right: 10%;
}

/* Styling of "Projects" page */
.projects-title, .projects-description {
  font-family: "Bold";
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}

.projects-description {
  padding-bottom: 0.5%;
}

.projects-main {
  text-align: left;
  padding-left: 10%;
  font-family: "Light";
}

.projects-main > div > ul > li > a {
  color: black;
}

/* Styling of "Resumé" page */
.resumé-title {
  font-family: "Bold";
}

.resumé-viewer {
  margin-bottom: 3%;
}

/* Styling of "Contact" page */
.contact-title, .contact-talk, .contact-message {
  font-family: "Bold";
}

.contact-info, .contact-details {
  font-family: "Light";
}

.contact-info > a {
  color: black;
}

.contact-main {
  display: flex;
}

.contact-left {
  padding-left: 15%;
  padding-right: 10%;
}

.contact-right {
  padding-left: 10%;
  padding-right: 15%;
}

.contact-message {
  margin-bottom: 5%;
}

.contact-required {
  font-family: "SemiBoldItalic";
  margin-bottom: 0;
  margin-top: 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.contact-form > label, .contact-form > input, .contact-form > textarea {
  font-family: "Light";
}

.contact-form > label {
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: .5%;
}

.contact-form-message > textarea {
  resize: vertical;
}

.red {
  color: red;
}

.contact-form-submit {
  width: 15%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.contact-form-status-success {
  color: green;
  margin-top: 5%;
  font-family: "Regular";
}

.contact-form-status-error {
  color: red;
  margin-top: 5%;
  font-family: "Regular";
}

/* Styling of Footer */
.footer {
  background-color: #F5F5F5;
  padding-top: 1%;
  padding-bottom: 0.3%;
  margin-top: 3%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
}

.footer-linkedin {
  display: inline-block;
  padding-right: 1%;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.footer-github {
  display: inline-block;
  margin-left: 1%;
  margin-right: auto;
  margin-bottom: 0;
  padding-bottom: 0;
}

.footer-contact {
  color: black;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  margin-right: auto;
  margin-left: auto;
  font-family: "Light";
}