/* Import all available variations of the Rosario font for potential use */
@font-face {
  font-family: "Bold";
  src: local("Rosario-Bold"), url("./fonts/Rosario-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "BoldItalic";
  src: local("Rosario-BoldItalic"), url("./fonts/Rosario-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Italic";
  src: local("Rosario-Italic"), url("./fonts/Rosario-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Light";
  src: local("Rosario-Light"), url("./fonts/Rosario-Light.ttf") format("truetype");
}

@font-face {
  font-family: "LightItalic";
  src: local("Rosario-LightItalic"), url("./fonts/Rosario-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("Rosario-Medium"), url("./fonts/Rosario-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "MediumItalic";
  src: local("Rosario-MediumItalic"), url("./fonts/Rosario-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("Rosario-Regular"), url("./fonts/Rosario-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SemiBold";
  src: local("Rosario-SemiBold"), url("./fonts/Rosario-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "SemiBoldItalic";
  src: local("Rosario-SemiBoldItalic"), url("./fonts/Rosario-SemiBoldItalic.ttf") format("truetype");
}

/* Styling of HTML and React components */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.app {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  height: 60px;
}

.navbar-about, .navbar-projects, .navbar-resumé, .navbar-contact {
  margin-right: 30px;
  color: black;
  font-family: "Medium";
}

.navbar-logo {
  margin-right: auto;
  margin-top: 15px;
  margin-left: 20px;
  width: 100px;
}

.about {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-top > h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-family: "Bold";
}

.projects-title, .projects-description {
  font-family: "Bold";
}

.projects-main {
  text-align: left;
  margin-left: 20px;
  font-family: "Light";
}

.resumé-title {
  font-family: "Bold";
}

.contact-title, .contact-description {
  font-family: "Bold";
}

.contact-info {
  font-family: "Light";
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-right: 40%;
  margin-left: 40%;
}

.contact-form > * {
  margin-bottom: 10px;
}

.contact-form > label, .contact-form > input {
  font-family: "Light";
}

.contact-form-message {
  resize: vertical;
}

.footer {
  background-color: #f5f5f5;
  padding-bottom: 10px;
  margin-top: 20px;
}

.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.footer-linkedin, .footer-github {
  width: 40px;
  margin-left: 15px;
  margin-right: 15px;
}

.footer-contact {
  color: black;
  margin-bottom: 0px;
  font-family: "Medium";
}